################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/
.vscode/launch.json
.vscode/tasks.json
HoneyBadgerGS_3.0/
/HoneyBadgers_3.0/obj/Debug/netcoreapp3.0
/HBGSUnitTests/obj/Release/netcoreapp3.0
