.wishlist {
    display: inline-block;
    width: 35%;
    height: 100%;
    background-color: #10191D;
    margin: 0 5em 5em 0;
    overflow: inherit;
}

.item-image {
    width: 390px;
}

.remove-item {
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.2em;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5em 3em;
    width: 90%;
}

.item-title, .item-price {
    text-align: center;
    color: darkorange;
    font-weight: bold;
}